<ion-header>
  <ion-toolbar>
    <div class="center-flex">
      <a href="home" class="a-header"
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></a>
      <ion-searchbar></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-es center-grid">
    <ion-avatar>
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>

    <h1 class="title-es">Jesus Rodriguez</h1>

    <div class="model-1">
      <p><span>44</span>Siguiendo</p>
      <p><span>30</span>Amigos</p>
      <p><span>30</span>Favoritos</p>
    </div>
  </div>

  <div class="navegation">
    <ul>
      <li id="btn_Favoritos" (click)="favoritos()">Favoritos</li>
      <li id="btn_Amigos" (click)="amigos()">Amigos</li>
    </ul>
  </div>

  <div class="conten_slide">
    <div class="slide" id="slider">
      <div class="slide_section">
        <p>
          JJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJLorem ipsum dolor,
          sit amet consectetur adipisicing elit. Vero nemo quam quis vitae sit
          ducimus error nostrum, architecto animi debitis rerum consectetur
          molestiae eius illum blanditiis natus at incidunt minus.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quas neque nulla illum nesciunt rerum, pariatur esse saepe reiciendis consequuntur expedita incidunt ipsum iste. Dignissimos libero est dolor repudiandae hic.
        </p>
      </div>
      <div class="slide_section">
        <p>
          CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCLorem ipsum dolor sit
          amet consectetur adipisicing elit. Alias corporis aspernatur quidem
          laudantium cum deserunt sapiente sunt quasi. Et dolorum modi omnis quo
          ipsa optio ducimus adipisci quidem eius laboriosam.
        </p>
      </div>
    </div>

    <!-- <ion-slides class="slides" pager="false" [options]="slideOpts">

      <ion-slide class="slide">

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis recusandae facere blanditiis ad, tempore doloribus pariatur odio. Delectus fugiat rem ratione nesciunt molestiae similique accusamus reprehenderit? Necessitatibus iusto provident facere eos ullam nam nostrum odio dicta vel inventore qui repellendus reprehenderit deleniti, omnis aliquam quam atque commodi magni eius et?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae odit accusantium eligendi magni tempora dignissimos deserunt! Aliquid molestias repellat dolorum odio numquam iste quae, vitae non dicta. Temporibus reiciendis et nemo, fuga, omnis ea mollitia, maiores quis vero exercitationem aliquam? Repellat ea, eius reiciendis amet iste repudiandae voluptates, dolorem natus commodi aspernatur cupiditate fuga laudantium, obcaecati doloremque iure accusantium sapiente explicabo quis! Saepe ipsa ab eos omnis magni. Esse molestiae corporis porro nulla deleniti, dolorum minima provident ipsam dicta omnis consequuntur eius unde dolore, iure alias laudantium non eaque sequi quod reprehenderit ad nisi officiis laborum! Animi ipsa fuga commodi.</p>
      </ion-slide>
  
      <ion-slide class="slide">
          
      </ion-slide>

    </ion-slides> -->
  </div>
</ion-content>
