<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>
      Restaurantes
    </ion-title>

    <!-- 
    <div class="container_header">

      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>

      <p>Restaurantes</p>

      <a href="#"><ion-icon class="btn_home" name="home-outline"></ion-icon></a>

    </div> 
    -->

  </ion-toolbar>

  

</ion-header>

<ion-content>

  <div class="header">
    <ion-toolbar>
     <ion-searchbar class="search_bar"></ion-searchbar>

     <div class="filtro">
       <p>Presupuesto: $</p><input type="number"><p>asta: $</p><input type="number">
     </div>

    </ion-toolbar>

    <div class="body">

      <div class="container_button_center">
        <ion-button href="#" size="large" class="button_perfiles"> Perfil del <br> ususrio</ion-button>
        <ion-button href="#" size="large" class="button_perfiles left"> Perfil del <br> aseror</ion-button>
      </div>
      
    </div>

    <div class="body1">
    
      <ion-button href="#" size="large" class="btn_domi">Domicilio</ion-button>

      <ion-button href="#" size="large" class="btn_res left">Reservas</ion-button>

    </div>

  </div>

</ion-content>
