<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="menu_title">Menu</ion-title>
      <ion-title class="menu_home"><a href="home"><ion-icon class="btn_home" name="home-outline"></ion-icon></a></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="conten-es">
      <ion-list class="list-es" lines="none">
        <ion-item><a href="#"><ion-icon name="airplane-outline"></ion-icon> <p>Tiquetes de avion</p></a></ion-item>
        <ion-item><a href="#"><ion-icon name="language-outline"></ion-icon> <p>Traductor</p></a></ion-item>
        <ion-item><a href="#"><ion-icon name="people-outline"></ion-icon> <p>Profecionales</p></a></ion-item>
        <ion-item><a href="restaurante"><ion-icon name="restaurant-outline"></ion-icon> <p>Restaurantes</p></a></ion-item>
        <ion-item><a href="#"><ion-icon name="beer-outline"></ion-icon> <p>Ventas de licores</p></a> </ion-item>
        <ion-item><a href="#"><ion-icon name="car-outline"></ion-icon> <p>Conductor</p></a></ion-item>
        <ion-item><a href="#"><ion-icon name="map-outline"></ion-icon> <p>Mapa</p></a></ion-item>
        <ion-item><a href="#"><ion-icon name="bed-outline"></ion-icon> <p>Hoteles</p></a></ion-item>
      </ion-list>
    </div>
    
  </ion-content>
</ion-menu>